<header role="navigation">

  <nav>
    <ul>
      <li id="nav-front"><a href="/index.html">Marie Kruse Photography</a></li>
      <li id="nav-galleries"><a href="/gallery/index.html">Galleries</a></li>
      <li class="nav-sub2" id="nav-berlin"><a href="/gallery/berlin/"> Berlin</a></li>
      <li class="nav-sub2" id="nav-togo"><a href="/gallery/togo/">Togo</a></li>
      <li class="nav-sub2" id="nav-norway"><a href="/gallery/norway/">Norway</a></li>
    </ul>
  </nav>

  <div style="height:30px">&nbsp;</div>
  <h3><a href="mailto:marie@kruse.bz" style="text-decoration:none;">marie@kruse.bz</a></h3>
</header>
