<!DOCTYPE html>
<html class="no-js" lang="en">
  {%include head.html %}

<body>

  <div id="container" class="cf">

		<banner><h1>Marie Kruse Photography</h1></banner>

    {%include navigation.html%}

	  <div id="main" role="main">
		    <h1>{{page.title}}</h1>
        

		    {{ content }}

    </div>

  </div>

  {%include scripts.html%}
  <script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('section.slider').removeClass('loading');
        }
      });
    });
  </script>
</body>
</html>
